.Links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
    margin-left: 28%;
  }
  
  .LinksInner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .Links li {
    line-height: 2.8;
  }
  
  /* Footer */
  .Footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    margin-left: 18%;
  }
  
  .FooterInner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .Footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .Footer li {
    margin-right: 30px;
    margin-bottom: 20px;
  }

  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }